<div class="release-stats" id="release-stats">
<div class="unset" style="height: <%= stats[:percent][:unset] %>%"></div><div class="done" style="height: <%= stats[:percent][:processed] %>%"></div>
</div>